Source: rmextract
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>=10),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-numpy,
 python3-dev
Standards-Version: 4.5.0
Homepage: https://github.com/lofar-astron/RMextract/
Vcs-Git: https://github.com/kernsuite-debian/rmextract
Vcs-Browser: https://github.com/kernsuite-debian/rmextract
X-Python3-Version: >= 3.2

Package: python3-rmextract
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: LOFAR solutions tool (Python 3)
 extract TEC, vTEC, Earthmagnetic field and Rotation Measures from GPS and WMM
 data for radio interferometry observations
 .
 This package installs the library for Python 3.

Package: rmextract
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}, python3-rmextract
Description: LOFAR solutions tool (Python 3)
 extract TEC, vTEC, Earthmagnetic field and Rotation Measures from GPS and WMM
 data for radio interferometry observations
 .
 This package installs the library for Python 3.
